.flex-container {
    background-color: DodgerBlue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container > .flex-item {
    background-color: #312e2e36;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    display: block;
    direction: rtl;
}

.flex-container > .flex-item > h2 {
    text-align: center;
}
.flex-container > .flex-item > label {
    float: left;
    
}

.scene-container {
    background-color: #0B132B;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.scene-item {
    background-color: #1C2541;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    display: block;
    direction: rtl;
}
.scene-item > label
{
    float: left;
    direction: ltr;
}

.scene-name {
    background-color: transparent;
    color: #5BC0BE;
    border: 0;
    outline: 0;
    font-size: 20px;
    border-bottom: 1px solid black;
    justify-self: right;
    direction: ltr;
}
.slider {
    direction: ltr;
}
.slider-input {
    width: 37px;
    float: right;
    padding: 5px;
}

.address-label {
    direction: ltr;
}

.address-input {
    vertical-align: middle;
}